@font-face {
  font-family: OpenDyslexic;
  font-weight: 400;
  src: url(./OpenDyslexic-Regular.woff2) format("woff2")
}

@font-face {
  font-family: OpenDyslexic;
  font-weight: 400;
  font-style: italic;
  src: url(./OpenDyslexic-Italic.woff2) format("woff2");
}

@font-face {
  font-family: OpenDyslexic;
  font-weight: 700;
  src: url(./OpenDyslexic-Bold.woff2) format("woff2")
}

@font-face {
  font-family: OpenDyslexic;
  font-weight: 700;
  font-style: italic;
  src: url(./OpenDyslexic-Bold-Italic.woff2) format("woff2")
}